rules:
  - source: /blog
    target: https://blog.viktoradam.net
    code: 301
    ttl: 7d
  - source: /demo
    target: https://demo.viktoradam.net
    code: 301
    ttl: 7d
  - source: /metrics
    target: https://metrics.viktoradam.net
    code: 301
    ttl: 7d
  - source: /status
    target: https://status.viktoradam.net
    code: 301
    ttl: 7d